{% extends 'base.html.twig' %}

{% block title %}Edit Composition{% endblock %}

{% block body %}
    <h1>Edit Composition</h1>

    {{ include('liste_composition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_liste_composition_index') }}">back to list</a>

    {{ include('liste_composition/_delete_form.html.twig') }}
{% endblock %}
