{% extends 'base.html.twig' %}

{% block title %}Composition index{% endblock %}

{% block body %}
    <h1>Composition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composition in compositions %}
            <tr>
                <td>{{ composition.id }}</td>
                <td>
                    <a href="{{ path('app_liste_composition_show', {'id': composition.id}) }}">show</a>
                    <a href="{{ path('app_liste_composition_edit', {'id': composition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_liste_composition_new') }}">Create new</a>
{% endblock %}
