{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block contenu %}
    {% if is_granted("ROLE_ADMIN") %}
    <p> je suis l'admin
{% else %}
    <p> vous n'avez pas le role adequat </p>
{% endif %}

{% endblock %}
